body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6d7a8;
    color: #333;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: contents;
    justify-content: space-between;
    align-items: center;
}
.Quiz {
    text-align: center;
    padding: 20px;
    background-color: #359343;
    color: #6cc36f;
    margin: 0;
    text-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #4CAF50;
}






.navigation {
    text-align: center;
    margin: 20px 0;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    position: relative;
    overflow: hidden; 
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.navigation a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: #359381;
    border-radius: 20px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: -1;
}

.navigation a:hover {
    color: #ffffff;
}

.navigation a:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



section {
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 10px;
}


input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}


input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    color: #4CAF50;
    font-weight: bold;
}



input[type="radio"]:not(:first-child), input[type="checkbox"]:not(:first-child) {
    margin-top: 10px;
}




button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    display: block;
    margin: 20px auto;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.question label, .question input {
    display: inline-block;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #458728;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}